@import url(https://fonts.googleapis.com/css?family=Yeseva+One:regular);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:regular,italic);

body{
  margin: 0;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
}
* body {
  box-sizing: border-box;
}

button {
  border-radius: 2px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  outline: 0;
  font-style: italic;
  text-transform: uppercase;
}

.button-gold {
  background: #E3B873;
  border: 0;
  color: white;
}

.button-transparent {
  background: rgba(0, 0, 0, .2); 
  color: white;
  border: 1px solid white;
}

.content-container {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
}

.representation__container {
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.header-nav__button {
  padding: 13px 33px;
}
.button-calculate {
padding: 20px 42px;
}

.logo {
	color: #E3B873;
}

.header {
	background: black;
}

.header-content { 
  display: flex;
	justify-content: space-between;
  height: 83px;
  align-items: center;
}

.header-nav {
  display: flex;
  margin: 0 auto;
}

.header-nav__link {
  margin: 0px;
  text-decoration: none;
	color: white;
  padding: 0 20px;
}

.header-nav__link_home {
  color: #E3B873;
}
.representation {
  background: url('../image/hero.jpg');
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position:relative;
  z-index: 1;
  
}

.representation__button {
  padding: 20px 0;
  width: 207px;
}

.representation__button + .representation__button {
  margin-left: 20px;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);
}
.page-title {
  font-family: Yeseva One, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

span {
  color: #E3B873;
  list-style-type: none;
  margin-left: 0;
  margin-left: 0;
}

.page-title-representation {
  font-family: Yeseva One, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 40px;
  line-height: 53px;
  color: #FFFFFF;
  text-transform: uppercase;
}


.text {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
}

.header-nav__phone {
font-family: Nunito Sans, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 15px;
text-align: right;
text-decoration-line: underline;
margin: 0 45px;
color: #E3B873;
} 

.projects {
  background: black;
  padding: 107px 0 416px 0;  
}

.projects__slider-item {
  display: flex;
  align-items: flex-end;  
}

.projects__project-info {
  margin-right: 50px;
}

.projects__subtitle {
  font-family: Yeseva One, Arial, Helvetica, sans-serif;
  font-size: 27px;
  line-height: 37px;
  text-align: left;
  color: #E3B873;
  margin: 0 0 34px 0;
}

.projects__description {
  font-size: 14px;
  line-height: 27px;
  margin: 0 0 42px 0;
  max-width: 442px;
}
.projects__info-box {
  margin-bottom: 85px;  
}
.projects__info-row {
  display: flex;
  width: 100%;
}

.projects__info-row:not(:last-of-type) {
  margin-bottom: 34px;
}

.projects__info-item {
  width: 50%;
  padding-right: 5px;
}

.projects__info-item-title {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873; 
  margin: 0 0 8px 0;
}

.projects__info-item-text {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 0;
}

.projects__slider-vector{
  color: white;
  display: flex;
}

.slider-vector__icon {
  align-items: center;
  padding-right: 20px;
}

span {
  color: white;
  display: inline-block;
  border-radius: 50%; 
  padding-right: 8px;
  padding-left: 8px;
}

span + span {
  color: rgba(255, 255, 255, .3);
}

.vector-right {
  padding-left: 20px;
}

.right-content-text__link {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .3);
  display: inline-block;
  text-decoration: none;
  padding: 0 30px 0 30px;
  margin-bottom: 50px;
}

.right-content-text__link_active {
  padding: 0 30px 5px 0;
  border: 0;
  color: #E3B873;
  position: relative;
}

.right-content-text__link_active::after {
  content:'';
  width: 193px;
  height: 1px;
  background-color: #E3B873;
  position: absolute;
  left: 0%;
  bottom: 0;
}

.control {
margin-top: -320px;
}
.control-content__icon {
  margin-bottom: 30px;
}
.control-content__title {
  font-family: Yeseva One, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: white;
  margin: 0 0 13px;
}

.control-content__icon { 
  display: flex;
  justify-content: center;
  align-items: center; 
}
.control-content__underline {
  width: 24px;
  border-bottom: 2px solid #E3B873;
}
.control-content__camera-icon{
  margin: 0 10px;
}
.control-content {
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

.control-content__video {
  position: relative;
  text-align: center;
  max-width: 817px;
  margin-bottom: 62px;
  display: flex;
}

.control-content__hero-overlay{
  display: flex;
justify-content: center;
align-items: center; 
}
.control-content__video-button-block {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #E3B873;
  display: flex;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
}

.control-content__video-button-triangle {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 22px solid #fff;
  border-bottom: 12px solid transparent;
}
.control-content__underline_break {
  width: 55px;
  margin-bottom: 35px;
}
.control-content__description {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 37px;
  text-align: center; 
  color: #363636; 
  margin: 0 0 90px;
  max-width: 680px;
  text-align: center;
}

.control-content__form {
  width: 100%;
  max-width: 810px;
}
.control-content__form-input-block {
  width: 100%;
  max-width: 810px;
  display: flex;
  margin-bottom: 34px;
  align-items: center;
  justify-content: space-between;
}

.control-content__form-label {
  display: flex;
  flex-direction: column;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}
.control-content__form-input {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  padding: 0 0 8px;
  width: 230px;
}
.control-content__form-button {
  padding: 12px 75px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}
.control-content__form-checkbox {
  position: relative;
}

.control-content__form-checkbox:active, .control-content__form-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.control-content__form-checkbox:checked {
	background-color: red;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.control-content__form-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}