@import url(https://fonts.googleapis.com/css?family=Yeseva+One:regular);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:regular,italic);

body{
  margin: 0;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.font-nunito-sans {
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;;
  font-style: normal;
  font-weight: normal;
}

.font-yeseva-one {
  font-family: Yeseva one, Arial, Helvetica, sans-serif;;
  font-style: normal;
  font-weight: normal;
}

button {
  border-radius: 2px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  outline: 0;
  font-style: italic;
  text-transform: uppercase;
}

.button-gold {
  background: #E3B873;
  border: 0;
  color: white;
  cursor: pointer;
}

.button-transparent {
  background: none; 
  color: white;
  border: 1px solid white;
}

.content-container {
  max-width: 1286px;
  margin: 0 auto;
  width: 100%;
  padding: 0 18px;
}

.representation__container {
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.nav-page__button {
  padding: 13px 33px;
}

.button-calculate {
padding: 20px 42px;
}

.logo {
	color: #E3B873;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}

.header {
	background: black;
}

.nav-content { 
  display: flex;
	justify-content: space-between;
  height: 83px;
  align-items: center;
}

.nav-page {
  display: flex;
  margin: 0 auto;
}

.nav-page__link {
  margin: 0px;
  text-decoration: none;
	color: white;
  padding: 0 20px;
  font-size: 11px;
  line-height: 15px;
}

.nav-page__link_home {
  color: #E3B873;
}

.representation {
  background: url('../image/hero.jpg');
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position:relative;
  z-index: 1; 
}

.representation__button {
  padding: 20px 0;
  width: 207px;
}

.representation__button + .representation__button {
  margin-left: 20px;
}

.representation__button-text-mobile {
  display: none;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);
}

.page-title {
  text-transform: uppercase;
}

.page-title-representation {
  margin: 0;
  font-size: 40px;
  line-height: 53px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.text {
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
}

.nav-page__phone {
font-size: 11px;
line-height: 15px;
text-align: right;
text-decoration-line: underline;
margin: 0 45px;
color: #E3B873;
} 

.projects {
  background: black;
  padding: 107px 0 416px 0;  
}

.projects__slider-item {
  display: flex;
  align-items: flex-end;  
}

.projects__project-info {
  margin-right: 50px;
}

.projects__subtitle {
  font-size: 27px;
  line-height: 37px;
  text-align: left;
  color: #E3B873;
  margin: 0 0 34px 0;
}

.projects__description {
  font-size: 14px;
  line-height: 27px;
  margin: 0 0 42px 0;
  max-width: 442px;
}

.slider-button__left {
  display: none;
}

.slider-button__right {
  display: none;
}

.projects__info-box {
  margin-bottom: 85px;  
}

.projects__info-row {
  display: flex;
  width: 100%;
}

.projects__info-row:not(:last-of-type) {
  margin-bottom: 34px;
}

.projects__info-item {
  width: 50%;
  padding-right: 5px;
}

.projects__info-item-title {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873; 
  margin: 0 0 8px 0;
}

.projects__info-item-text {
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 0;
}

.projects__slider-vector{
  color: white;
  display: flex;
}

.slider-vector__icon {
  align-items: center;
  padding-right: 20px;
}

.slider-vector-page {
  margin-top: 3px;
  width: 50px;
  display: flex;
  justify-content: space-between;
}

.slider-vector-page__items {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
}

.slider-vector-page__items_first {
  background: #FFF;
}

.vector-right {
  padding-left: 20px;
}

.right-content-text__link {
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .3);
  display: inline-block;
  text-decoration: none;
  padding: 0 30px 0 30px;
  margin-bottom: 50px;
}

.right-content-text__link_active {
  padding: 0 30px 5px 0;
  border: 0;
  color: #E3B873;
  position: relative;
}

.right-content-text__link_active::after {
  content:'';
  width: 193px;
  height: 1px;
  background-color: #E3B873;
  position: absolute;
  left: 0%;
  bottom: 0;
}

.control {
  margin-top: -320px;
}

.control-content__icon {
  margin-bottom: 30px;
}

.control-content__title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: white;
  margin: 0 0 13px;
}

.control-content__icon { 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.control-content__underline {
  width: 24px;
  border-bottom: 2px solid #E3B873;
}

.control-content__camera-icon {
  margin: 0 10px;
}

.control-content {
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

.control-content__video {
  position: relative;
  text-align: center;
  max-width: 817px;
  margin-bottom: 62px;
  display: flex;
}

.control-content__hero-overlay {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.control-content__video-button-block {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #E3B873;
  display: flex;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
}

.control-content__video-button-triangle {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 22px solid #fff;
  border-bottom: 12px solid transparent;
}

.control-content__underline_break {
  width: 55px;
  margin-bottom: 35px;
}

.control-content__description {
  font-size: 18px;
  line-height: 37px;
  text-align: center; 
  color: #363636; 
  margin: 0 0 90px;
  max-width: 680px;
  text-align: center;
}

.control-content__form {
  width: 100%;
  max-width: 810px;
  margin-bottom: 148px;
}

.control-content__form-input-block {
  width: 100%;
  max-width: 810px;
  display: flex;
  margin-bottom: 34px;
  align-items: center;
  justify-content: space-between;
}

.control-content__form-label {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}

.control-content__form-input {
  font-size: 14px;
  line-height: 23px;
  color: #363636;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  padding: 0 0 8px;
  width: 230px;
}

.control-content__form-button {
  padding: 12px 75px;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}

.form-checkbox-label {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.form-checkbox-label-mobile {
  display: none;
} 

.form-checkbox {
  display: none;
}

.form-checkbox-consent {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #E3B873;
  color: #FFF;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.form-checkbox-consent::before {
  opacity: 0;
  content: "\2714";
  transition: .2s;
} 

.form-checkbox:checked + .form-checkbox-consent::before {
  opacity: 1;
}

.checkbox-text {
  font-size: 14px;
  padding: 0;
}

.form-checkbox-text-black {
  color: #000;
}

.type-of-repair {
  margin-bottom: 200px;
}

.type-of-repair__title {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin: 0 0 13px;
}

.type-of-repair__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-of-repair__underline {
  width: 24px;
  border-bottom: 2px solid #E3B873;
}

.type-of-repair__icon-repair {
  margin: 0 13px;
}

.type-of-repair__icon {
  margin-bottom: 31px;
}

.type-of-repair__content {
  display: flex;
  justify-content: center;
  margin-bottom: 230px;
  flex-wrap: wrap;
}
.type-of-repair-item:not(:last-of-type) {
  margin-bottom: 15px;
}

.type-of-repair-item {
  max-width: 392px;
  width: 100%;
}

.type-of-repair-item + .type-of-repair-item {
  margin-left: 30px;
}

.type-of-repair-item__image {
  display: block;
}

.type-of-repair-item__description {
  padding: 25px 34px 0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  position: relative;
  z-index: 1;
  margin: -127px 31px 27px;
  background-color: #fff;
  padding-bottom: 27px;
}

.type-of-repair-item__description-title {
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  margin: 0 0 13px;
}

.type-of-repair-item__list {
  margin: 0 0 23px;
  padding: 0;
}

.type-of-repair-item__list-item {
  font-size: 13px;
  line-height: 27px;
  color: #959595;
  list-style-type:none;
}

.type-of-repair-item__list-item::before {
  content: '\2022';
  margin-right: 5px
}

.type-of-repair-item__price {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 17px 22px;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  width: max-content;
  position: absolute;
  left: 0;
}

.type-of-repair__measure-request {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.type-of-repair__measure-request-bg-image {
  position: absolute;
  z-index: -1;
  top: -100px;
  left: -300px;
  width: 1006px;
  height: 645px;
}

.type-of-repair__measure-request-hints {
  padding-right: 80px;
  margin-right: 200px;
}

.type-of-repair__measure-request-hints-item {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.type-of-repair__measure-request-hints-item:last-of-type {
  margin-bottom: 46px;
}

.type-of-repair__measure-request-hints-item-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E3B873;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  flex-shrink: 0;
  margin-right: 10px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}

.type-of-repair__measure-request-hints-item-text {
  font-size: 14px;
  line-height: 19px;
  color: #363636;
}

.type-of-repair__measure-request-form-block {
  flex-grow: 1;
  max-width: 506px;
}

.type-of-repair__measure-request-form {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 38px;
  background-color: black;
  padding: 28px 48px;
}

.type-of-repair__measure-request-form-title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 40px;
}

.type-of-repair__measure-request-form-label {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 48px;
}

.type-of-repair__measure-request-form-label_last {
  margin-bottom: 16px;
}

.type-of-repair__measure-request-form-input {
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0 0 8px;
  background-color: black;
}

.type-of-repair__measure-request-form-input::placeholder {
  color: #FFFFFF;
}

.form-checkbox-text-white{
  color: #FFFFFF; 
}

.type-of-repair__measure-request-form-checkbox {
  display: flex;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 163.68%;
  color: #FFFFFF;
}

.type-of-repair__measure-request-form-button {
  padding: 13px 40px;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  display: block;
  margin-top: 39px;
}

.type-of-repair__measure-request-discount-block {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 30px;
}

.type-of-repair__measure-request-discount-icon-block {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #E3B873;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.type-of-repair__measure-request-discount-text {
  font-size: 18px;
  line-height: 26px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
  margin: 0;
}

.design-styles {
  background: url("../image/desigh-styles.jpg");
  background-size: cover;
  position: relative;
  z-index: 1;
}

.design-styles-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);
}

.design-styles-block {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;
}

.design-styles-block__list-box {
  padding: 137px 0 97px;
}

.design-styles-block__title {
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
  margin: 0 0 47px;
}

.design-styles-block__list {
  padding: 0;
}

.design-styles-block__list-item {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  list-style-type: none;
  cursor: pointer;
  width: max-content;
}

.design-styles-block__list-item:not(:last-of-type) {
  margin-bottom: 25px;
}

.design-styles-block__list-item_gold {
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
  padding-bottom: 4px;
}

.design-styles-block__image-container {
  display: flex;
  position: relative;
  width: 752px;
}

.design-styles-block__american-images {
  flex-direction: column;
  position: absolute;
  top: -41px;
}

.design-styles-block__american-images + .design-styles-block__american-images {
  margin-left: 44px;
  right: 0;
  top: -112px;
}

.design-styles-block__american-images img {
  display: flex;
  max-width: 354px;
}

.design-styles-block__american-images img + img {
  margin-top: 40px;
}

.our-clients__container {
  margin-top: 110px;
}

.our-clients__title-block {
  margin-bottom: 24px;
}

.our-clients__title {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin: 0 0 16px;
}

.our-clients__icon-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.our-clients__underline {
  border-bottom: 2px solid #E3B873;
  width: 32px;
}

.our-clients__icon {
  margin: 0 8px;
  width: 32px;
}

.our-clients__description {
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #363636;
  margin: 0 0 29px;
}

.our-clients-review {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.our-clients-review__item {
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  padding: 24px 32px 0 20px;
  width: 100%;
  max-width: 376px;
}

.our-clients-review__item + our-clients-review__item {
margin-left: 54px;
}

.our-clients-review__item-title {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}

.our-clients-review__item-photo {
  border-radius: 50%;
  margin-right: 23px;
}

.our-clients-review__item-name {
  font-size: 18px;
  line-height: 23px;
  color: #181818;
  margin: 0; 
}

.our-clients-review__text {
  font-size: 13px;
  line-height: 180%;
  color: #959595;
  margin: 0 0 63px;
}

.our-clients-review__label {
  display: flex;
  width: max-content;
  position: relative;
  bottom: -27px;
  left: -20px;
}

.our-clients-review__label-content {
  padding: 11px 14px 11px 17px;
  display: flex;
  align-items: center;
}

.our-clients-review__label-content + .our-clients-review__label-content {
  border-left: 1px solid white;
}

.our-clients-review__label-icon {
  margin-right: 15px;
}

.our-clients-review-font-image {
  display: flex;
  position: relative;
}

.our-clients-review-font-image-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .9);
  z-index: 1;
}

.our-clients-review-font-image__first-image { 
  background: url("../image/background-our-review.jpeg") repeat;
  width: 100%;
  height: 449px;
}

.questions-contacts__content {
  background: url("../image/font-questions-contact.jpg");
  background-size: cover;
  position: relative;
  z-index: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questions-contacts__content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);
  z-index: -1;
}

.questions-contacts__content-form {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 34px 181px;
  flex-grow: 1;
  margin: -222px 0 52px 0;
  position: relative;
  justify-content: center;
}

.questions-contacts__content-form-block {
  margin: 0 auto;
}

.questions-contacts__content-form {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 34px 181px;
  max-width: 883px;
  flex-grow: 1;
  margin: -222px 0 52px 0;
  max-width: 883px;
  position: relative;
  z-index: 1;  
} 

.questions-contacts__content-form-title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 45px;
}

.questions-contacts__content-form-contacts {
  display: flex;
  align-items: center;
}

.questions-contacts__content-form-label-name {
  margin-right: 58px;
}

.questions-contacts__content-form-label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  border-bottom: 1px solid grey;
}

.questions-contacts__content-form-input {
  font-size: 14px;
  line-height: 23px;
  color: white;
  padding: 0 0 8px;
  background-color: black;
  border: none;
  width: 231px;
} 

.questions-contacts__content-form-input::placeholder {
  color: #FFFFFF;
}

.checkbox-label {
  margin-bottom: 50px;
}

.questions-contacts__content-form-button {
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 75px;
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
  width: 200px;
  margin: 0 auto;
}

.questions-contacts__content-container-box-text {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
  margin-bottom: 26px;
}

.questions-contacts__content-container-box-text-mobile {
  display: none;
}

.questions-contacts__content-contacts-items {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.contacts-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #E3B873;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.questions-contacts__content-contacts-email {
  margin: 0 8px 0 16px;
}


.questions-contacts__content-contacts-insta {
  margin: 0 16px 0 8px;
}

.questions-contacts__content-maps-box {
  display: flex;
  margin-bottom: 65px;
}

.questions-contacts__content-maps-box-desktop {
  z-index: 1;
  margin: 0 auto;
}

.questions-contacts__content-maps-box-mobile {
  display: none;
}

.footer {
  background: black;
}




@media screen and (max-width: 375px) {
  
.content-container {
  max-width: 375px;
}  

.nav-page {
  display: none;
}

.nav-page__button {
  display: none;
}

.nav-content {
  height: 57px;
}

.nav-page__phone {
  margin: 0;
}

.representation {
  background: url("../image/hero-mobile.png");
  height: 476px;
  padding-top: 85px;
}

.page-title-representation {
  font-size: 23px;
  line-height: 31px;
}

.page-title-representation-rostov {
  color: #E3B873;
}

.text {
  font-size: 14px;
  line-height: 19px;
  margin: 16px 0 32px;
}

.representation__button {
  display: block;
  width: 100%;
}

.representation__button + .representation__button {
  margin: 26px 0 0 0;
}

.representation__button-text-desktop {
  display: none;
}

.representation__button-text-mobile {
  display: inline;
} 

.projects {
  padding-top: 36px;
  padding-bottom: 0;
}

.projects__project-info {
  margin-right: 0;
}

.projects__info-item-title {
  font-size: 14px;
  line-height: 19px;
}

.projects__info-item-text {
  font-size: 11px;
  line-height: 15px;
}

.projects__right-content {
  display: none;
}

.projects__slider-vector {
  display: none;
}

.projects__subtitle {
  text-align: center;
  line-height: 30px;
}

.projects__description {
  text-align: center;
  margin: 22px 0 0 0;
  line-height: 17px;
  margin-bottom: 22px;
}

.projects__mobile-img {
  background: url("../image/mobile-completed-projects.png");
  height: 242px;
  width: 100%;
  background-size: cover;
}

.projects__info-box {
  margin-top: 36px;
}

.projects__subtitle {
  font-size: 22px;
  line-height: 30px;
}

.projects__description {
  font-size: 11px;
}

.slider {
  position: relative;
}

.slider-button {
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #E3B873;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
}

.slider-button__left {
  left: 13px;
}

.slider-button__right {
  right: 13px;
}

.slider-button-icon {
  height: 11px;
  width: 6px;
}

/* попытка стрелку перевернуть стрелку */
/* .slider-button_right > .slider-button-icon {
  transform: rotateY(180deg);
} */

.control {
  margin-top: 0;
  background-color: black;
}

.projects__info-row {
  margin-bottom: 58px;
}

.control-content__title {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 30px;
}

.control-content__icon {
  margin-bottom: 40px;
}

.control-content__video-img {
  width: 100%;
}

.control-content__video {
  margin-bottom: 28px;
}
  
.control-content__video-button-block {
  height: 37px;
  width: 37px;
}

.control-content__video-button-triangle {
  border-top: 6px solid transparent;
  border-left: 9px solid #fff;
  border-bottom: 6px solid transparent;
}

.control-content__underline_break {
  margin-bottom: 22px;
}

.control-content__description {
  font-size: 11px;
  color: #FFFFFF;
  line-height: 19px;
  margin-bottom: 61px;
} 

.control-content__form {
  margin-bottom: -26px;
}

.control-content__form-input-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.control-content__form-label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
} 

.control-content__form-input {
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  border-bottom: 1px solid white;
  background-color: black;
  width: 340px;
  margin-bottom: 23px;
}

.control-content__form-input::placeholder {
  color: #FFFFFF;
}

.control-content__form-button-checkbox {
  display: flex;
  flex-direction: column-reverse;
}

.form-checkbox-label-mobile {
  display: block;
  margin-bottom: 67px;
}

.control-content__form-button {
  padding: 13px 124px;
}

.form-checkbox-label {
  display: none;
  margin-bottom: 62px;
}

.checkbox-text {
  color: #FFFFFF;
}

.type-of-repair {
  margin-bottom: 76px;
}

.type-of-repair-item__price {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

.type-of-repair-item + .type-of-repair-item {
  margin: 59px 0 0 0;
}

.type-of-repair__title {
  margin-top: 58px;
  color: #000;
}

.type-of-repair__content {
  margin-bottom: 0;
}

.type-of-repair__icon {
  margin-bottom: 40px;
}

.type-of-repair__icon-repair {
  margin-top: 17px;
}

.type-of-repair-item__image {
  width: 100%;
}

.type-of-repair-item__description {
  margin: -142px 70px 0 0;
  padding: 21px 41px 20px 31px;
}

.type-of-repair-item__list {
  margin-bottom: 17px;
}

.type-of-repair-item__list-item {
  font-size: 13px;
  line-height: 22px;
}

.type-of-repair-item__description-title {
  font-size: 15px;
  line-height: 21px;
  padding: 0 41px 0 0;
  margin-bottom: 10px;
}

.type-of-repair-item__price {
  font-size: 15px;
  line-height: 21px;
  padding: 12px 20px;
  margin-bottom: -21px;
}

.type-of-repair__measure-request-bg-image, 
.type-of-repair__measure-request-hints, 
.type-of-repair__measure-request-discount-block {
  display: none;
}

.type-of-repair__measure-request-discount-block {
  display: none;
}

.type-of-repair__measure-request-form {
  display: none;
}

.design-styles {
  background: none;
}

.design-styles-block {
  display: none;
}

.design-styles-overlay {
  display: none;
}


.design-styles__mobile {
  margin-bottom: -120px;
}

.design-styles__mobile-title {
  color: #E3B873;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 27px 0;
}

.design-styles__mobile-image {
  background: url("../image/mobile-wildest-fantasies.png") center no-repeat;
  width: 100%;
  height: 242px;
  margin: 0 auto;
}

.slider-button__left_mobile {
  left: 28px;
  margin-top: 44px;
}

.slider-button__right_mobile {
  right: 28px;
  margin-top: 44px;
} 

.our-clients {
  display: none;
}

.our-clients-review-font-image-transparent {
  display: none;
  position: static;
  background: none;
}

.our-clients-review-font-image {
  display: none;
}

.our-clients-review-font-image__first-image {
  background: none;
}

.questions-contacts {
  background-color: #000;
  padding-top: 173px;
}

.questions-contacts__content {
  background: none;
}

.questions-contacts__content-form-block {
  padding: 0;
}

/* .questions-contacts__content-overlay {
  display: none;
} */

.questions-contacts__content-form {
  padding: 0;
  margin: 0 0 45px 0;
}

.questions-contacts__content-container {
  display: flex;
  flex-direction: column-reverse;
}

.questions-contacts__content-form-title {
  margin-bottom: 52px;
}

.questions-contacts__content-form-contacts {
  flex-direction: column;
}

.questions-contacts__content-form-label-name {
  margin: 0;
}

.questions-contacts__content-form-label {
  width: 340px;
  margin-bottom: 23px;
}

.questions-contacts__content-form-button {
  width: 100%;
  padding: 13px;
}

.questions-contacts__content-container-box-text {
  display: none;
}

.questions-contacts__content-container-box-text-mobile {
  font-size: 18px;
  line-height: 25px;
  margin-top: 45px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
  margin-bottom: 26px;
  display: block;
}

.questions-contacts__content-maps-box {
  margin-bottom: 0;
}
.questions-contacts__content-maps-box-desktop {
  display: none;
}

.questions-contacts__content-maps-box-mobile {
  margin: 0 auto;
  padding: 0 18px;
  display: block;
}
/* попытка сделать эдементы такого же размера, как и на макете с текущим разрешением
.questions-contacts__content-item {
  display: none;
}  */
/* 
.questions-contacts__content-contacts-email {
  width: 39px;
  height: 39px;
  display: inline-flex;
}

.questions-contacts__content-contacts-insta {
  width: 39px;
  height: 39px;
  /* display: inline-flex; */
/* }  */

.footer {
  display: none;
}
}

@media screen and (max-width: 2560px) {

  .representation {
    background: url("../image/IC\ _Repair\ Design\ Project_4K.jpg");
  }

  .control-content__video {
    display: none;
  }

  .control-content__underline_break {
    display: none;
  }

  .control-content__description {
    display: none;
  }

  .control-content__form {
    display: none;
  }

  .type-of-repair {
    display: none;
  }

  .design-styles-block {
    display: none;
  }

  .design-styles-overlay {
    display: none;
  }

  .design-styles__mobile-title {
  display: none;
  }

  .our-clients {
    display: none;
  }

  .our-clients-review-font-image-transparent {
    display: none;
  }

  .our-clients-review-font-image__first-image {
    display: none;
  }

  .questions-contacts {
    display: none;
  }

  .footer {
    display: none;
  }

  .slider-button__left_mobile {
    display: none;
  }

  .slider-button__right_mobile {
    display: none;
  }
}



/* для себя, для Айфона 7/8 */


@media screen and (max-width: 414px) {
  
.content-container {
  max-width: 375px;
}  

.nav-page {
  display: none;
}

.nav-page__button {
  display: none;
}

.nav-content {
  height: 57px;
}

.nav-page__phone {
  margin: 0;
}

.representation {
  background: url("../image/hero-mobile.png");
  height: 476px;
  padding-top: 85px;
}

.page-title-representation {
  font-size: 23px;
  line-height: 31px;
}

.page-title-representation-rostov {
  color: #E3B873;
}

.text {
  font-size: 14px;
  line-height: 19px;
  margin: 16px 0 32px;
}

.representation__button {
  display: block;
  width: 100%;
}

.representation__button + .representation__button {
  margin: 26px 0 0 0;
}

.representation__button-text-desktop {
  display: none;
}

.representation__button-text-mobile {
  display: inline;
} 

.projects {
  padding-top: 36px;
  padding-bottom: 0;
}

.projects__project-info {
  margin-right: 0;
}

.projects__info-item-title {
  font-size: 14px;
  line-height: 19px;
}

.projects__info-item-text {
  font-size: 11px;
  line-height: 15px;
}

.projects__right-content {
  display: none;
}

.projects__slider-vector {
  display: none;
}

.projects__subtitle {
  text-align: center;
  line-height: 30px;
}

.projects__description {
  text-align: center;
  margin: 22px 0 0 0;
  line-height: 17px;
  margin-bottom: 22px;
}

.projects__mobile-img {
  background: url("../image/mobile-completed-projects.png");
  height: 242px;
  width: 100%;
  background-size: cover;
}

.projects__info-box {
  margin-top: 36px;
}

.projects__subtitle {
  font-size: 22px;
  line-height: 30px;
}

.projects__description {
  font-size: 11px;
}

.slider {
  position: relative;
}

.slider-button {
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #E3B873;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
}

.slider-button__left {
  left: 13px;
}

.slider-button__right {
  right: 13px;
}

.slider-button-icon {
  height: 11px;
  width: 6px;
}

/* попытка стрелку перевернуть стрелку */
/* .slider-button_right > .slider-button-icon {
  transform: rotateY(180deg);
} */

.control {
  margin-top: 0;
  background-color: black;
}

.projects__info-row {
  margin-bottom: 58px;
}

.control-content__title {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 30px;
}

.control-content__icon {
  margin-bottom: 40px;
}

.control-content__video-img {
  width: 100%;
}

.control-content__video {
  margin-bottom: 28px;
}
  
.control-content__video-button-block {
  height: 37px;
  width: 37px;
}

.control-content__video-button-triangle {
  border-top: 6px solid transparent;
  border-left: 9px solid #fff;
  border-bottom: 6px solid transparent;
}

.control-content__underline_break {
  margin-bottom: 22px;
}

.control-content__description {
  font-size: 11px;
  color: #FFFFFF;
  line-height: 19px;
  margin-bottom: 61px;
} 

.control-content__form {
  margin-bottom: -26px;
}

.control-content__form-input-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.control-content__form-label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
} 

.control-content__form-input {
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  border-bottom: 1px solid white;
  background-color: black;
  width: 340px;
  margin-bottom: 23px;
}

.control-content__form-input::placeholder {
  color: #FFFFFF;
}

.control-content__form-button-checkbox {
  display: flex;
  flex-direction: column-reverse;
}

.form-checkbox-label-mobile {
  display: block;
  margin-bottom: 67px;
}

.control-content__form-button {
  padding: 13px 124px;
}

.form-checkbox-label {
  display: none;
  margin-bottom: 62px;
}

.checkbox-text {
  color: #FFFFFF;
}

.type-of-repair {
  margin-bottom: 76px;
}

.type-of-repair-item__price {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

.type-of-repair-item + .type-of-repair-item {
  margin: 59px 0 0 0;
}

.type-of-repair__title {
  margin-top: 58px;
  color: #000;
}

.type-of-repair__content {
  margin-bottom: 0;
}

.type-of-repair__icon {
  margin-bottom: 40px;
}

.type-of-repair__icon-repair {
  margin-top: 17px;
}

.type-of-repair-item__image {
  width: 100%;
}

.type-of-repair-item__description {
  margin: -142px 70px 0 0;
  padding: 21px 41px 20px 31px;
}

.type-of-repair-item__list {
  margin-bottom: 17px;
}

.type-of-repair-item__list-item {
  font-size: 13px;
  line-height: 22px;
}

.type-of-repair-item__description-title {
  font-size: 15px;
  line-height: 21px;
  padding: 0 41px 0 0;
  margin-bottom: 10px;
}

.type-of-repair-item__price {
  font-size: 15px;
  line-height: 21px;
  padding: 12px 20px;
  margin-bottom: -21px;
}

.type-of-repair__measure-request-bg-image, 
.type-of-repair__measure-request-hints, 
.type-of-repair__measure-request-discount-block {
  display: none;
}

.type-of-repair__measure-request-discount-block {
  display: none;
}

.type-of-repair__measure-request-form {
  display: none;
}

.design-styles {
  background: none;
}

.design-styles-block {
  display: none;
}

.design-styles-overlay {
  display: none;
}


.design-styles__mobile {
  margin-bottom: -120px;
}

.design-styles__mobile-title {
  color: #E3B873;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 27px 0;
}

.design-styles__mobile-image {
  background: url("../image/mobile-wildest-fantasies.png") center no-repeat;
  width: 100%;
  height: 242px;
  margin: 0 auto;
}

.slider-button__left_mobile {
  left: 28px;
  margin-top: 44px;
}

.slider-button__right_mobile {
  right: 28px;
  margin-top: 44px;
} 

.our-clients {
  display: none;
}

.our-clients-review-font-image-transparent {
  display: none;
  position: static;
  background: none;
}

.our-clients-review-font-image {
  display: none;
}

.our-clients-review-font-image__first-image {
  background: none;
}

.questions-contacts {
  background-color: #000;
  padding-top: 173px;
}

.questions-contacts__content {
  background: none;
}

.questions-contacts__content-form-block {
  padding: 0;
}

/* .questions-contacts__content-overlay {
  display: none;
} */

.questions-contacts__content-form {
  padding: 0;
  margin: 0 0 45px 0;
}

.questions-contacts__content-container {
  display: flex;
  flex-direction: column-reverse;
}

.questions-contacts__content-form-title {
  margin-bottom: 52px;
}

.questions-contacts__content-form-contacts {
  flex-direction: column;
}

.questions-contacts__content-form-label-name {
  margin: 0;
}

.questions-contacts__content-form-label {
  width: 340px;
  margin-bottom: 23px;
}

.questions-contacts__content-form-button {
  width: 100%;
  padding: 13px;
}

.questions-contacts__content-container-box-text {
  display: none;
}

.questions-contacts__content-container-box-text-mobile {
  font-size: 18px;
  line-height: 25px;
  margin-top: 45px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
  margin-bottom: 26px;
  display: block;
}

.questions-contacts__content-maps-box {
  margin-bottom: 0;
}
.questions-contacts__content-maps-box-desktop {
  display: none;
}

.questions-contacts__content-maps-box-mobile {
  margin: 0 auto;
  padding: 0 18px;
  display: block;
}
/* 
.questions-contacts__content-item {
  display: none;
}  */
/* 
.questions-contacts__content-contacts-email {
  width: 39px;
  height: 39px;
  display: inline-flex;
}

.questions-contacts__content-contacts-insta {
  width: 39px;
  height: 39px;
  /* display: inline-flex; */
/* }  */

.footer {
  display: none;
}
}
