@import url(https://fonts.googleapis.com/css?family=Yeseva+One:regular);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:regular,italic);

body{
  margin: 0;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
}
* body {
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  white-space: nowrap;
}
.button {
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  font-style: italic;
  color: white;
  text-transform: uppercase;
}

.button-calculate {
padding: 20px 42px;
}

.button-submit {
  background: rgba(0, 0, 0, .2); 
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  outline: 0;
  padding: 20px 42px;
  text-transform: uppercase;
  font-style: italic;

}

span {
  color: #E3B873;
}

.logo {
	color: #E3B873;
}

.header {
	background: black;
}

.header-content { 
  display: flex;
	justify-content: space-between;
  height: 83px;
  align-items: center;
}

.header-navigation {
  display: flex;
  margin: 0 auto;
}

.header-navigation__link {
  margin: 0px;
  text-decoration: none;
	color: white;
  padding: 0 20px;
}

.header-navigation__link_home {
  color: #E3B873;
}
.hero {
  background: url('../image/hero.jpg');
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position:relative;
}

.hero-overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);
}

.hero-wrapper, .hero-container {
  position: relative;
  z-index: 1;
}

.hero-container__button + .hero-container__button {
  margin-left: 20px;
}

.title {
  margin: 0;
  font-family: Yeseva One, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
}

.phone {
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 15px;
text-align: right;
text-decoration-line: underline;
padding: 0px 67px 0px 45px;
color: #E3B873;
} 


